@use "sass:math";

#cta__section {
  padding-block: math.div(80rem, 16);
  @include md {
    padding-block: math.div(104rem, 16);
  }
  h2 {
    @include md {
      width: 900px;
      margin-inline: auto;
    }
  }
  p {
    padding-block: 1.5rem;
    @include md {
      padding-block: math.div(32rem, 16);
      width: 500px;
      margin-inline: auto;
    }
  }
  .button__wrapper {
    gap: 1rem;
    flex-direction: column;
    @include md {
      flex-direction: row;

      gap: 2rem;
    }
    svg {
      margin-right: 0.25rem;
      @include md {
        margin-right: 0.5rem;
      }
    }
  }
  .cta__gradient {
    width: 100vw;
    height: 524px;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(210, 223, 238, 0) 0%,
      #d2deee 100%
    );
  }
}
