@use "sass:math";

#hero__section {
  @include md {
    height: 800px;
    overflow: hidden;
  }
  h1 {
    margin-top: math.div(64rem, 16);
    margin-bottom: 1rem;
    @include md {
      margin-top: math.div(111rem, 16);
      width: 600px;
      margin-inline: auto;
      margin-bottom: math.div(20rem, 16);
    }
  }
  .button__wrapper {
    margin-block: 2rem;
    @include md {
      margin-block: math.div(40rem, 16);
    }
  }
  .hero__gradient {
    width: 100vw;
    height: 524px;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(210, 223, 238, 0) 0%,
      #d2deee 100%
    );
    &--blob1,
    &--blob2 {
      bottom: 0;
      z-index: -1;
      background: #1a73e5;
      filter: blur(80px);
      width: 190px;
      height: 190px;
      opacity: 0.2;
      @include md {
        opacity: 0.3;
      }
    }
    &--blob1 {
      left: 5%;
    }
    &--blob2 {
      right: 5%;
    }
  }
}
