@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
.sr-only, .skip-to-content:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  background: white;
  color: black;
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-120%);
  transition: transform 500ms ease-in;
  position: absolute;
  z-index: 1000;
}
.skip-to-content:focus {
  transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.25rem;
}

/* Images */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.text-gray-600 {
  color: #979baa;
}

.text-hover-gray-600:hover {
  color: #979baa;
}

.bg-gray-600 {
  background-color: #979baa;
}

.bg-hover-gray-600:hover {
  background-color: #979baa;
}

.text-gray-800 {
  color: #353945;
}

.text-hover-gray-800:hover {
  color: #353945;
}

.bg-gray-800 {
  background-color: #353945;
}

.bg-hover-gray-800:hover {
  background-color: #353945;
}

.text-gray-900 {
  color: #1b1e2b;
}

.text-hover-gray-900:hover {
  color: #1b1e2b;
}

.bg-gray-900 {
  background-color: #1b1e2b;
}

.bg-hover-gray-900:hover {
  background-color: #1b1e2b;
}

.text-blue-dark {
  color: #2e384e;
}

.text-hover-blue-dark:hover {
  color: #2e384e;
}

.bg-blue-dark {
  background-color: #2e384e;
}

.bg-hover-blue-dark:hover {
  background-color: #2e384e;
}

.text-blue-light {
  color: #d2d8ee;
}

.text-hover-blue-light:hover {
  color: #d2d8ee;
}

.bg-blue-light {
  background-color: #d2d8ee;
}

.bg-hover-blue-light:hover {
  background-color: #d2d8ee;
}

.text-blue-lighter {
  color: #ecf2f9;
}

.text-hover-blue-lighter:hover {
  color: #ecf2f9;
}

.bg-blue-lighter {
  background-color: #ecf2f9;
}

.bg-hover-blue-lighter:hover {
  background-color: #ecf2f9;
}

.text-blue-primary {
  color: #1a73e5;
}

.text-hover-blue-primary:hover {
  color: #1a73e5;
}

.bg-blue-primary {
  background-color: #1a73e5;
}

.bg-hover-blue-primary:hover {
  background-color: #1a73e5;
}

.text-yellow {
  color: #725808;
}

.text-hover-yellow:hover {
  color: #725808;
}

.bg-yellow {
  background-color: #725808;
}

.bg-hover-yellow:hover {
  background-color: #725808;
}

.text-yellow-light {
  color: #f7df96;
}

.text-hover-yellow-light:hover {
  color: #f7df96;
}

.bg-yellow-light {
  background-color: #f7df96;
}

.bg-hover-yellow-light:hover {
  background-color: #f7df96;
}

.text-green {
  color: #219653;
}

.text-hover-green:hover {
  color: #219653;
}

.bg-green {
  background-color: #219653;
}

.bg-hover-green:hover {
  background-color: #219653;
}

.text-green-light {
  color: #c0f1d5;
}

.text-hover-green-light:hover {
  color: #c0f1d5;
}

.bg-green-light {
  background-color: #c0f1d5;
}

.bg-hover-green-light:hover {
  background-color: #c0f1d5;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.justify-flex-start {
  justify-content: flex-start;
}

.align-flex-start {
  align-items: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.align-flex-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-space-between {
  align-items: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-space-around {
  align-items: space-around;
}

.rounded {
  border-radius: 90px;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-inline: auto;
}

.inline-block {
  display: inline-block;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

body {
  font-size: 1rem;
  color: #62677f;
  line-height: 1.5625rem;
  font-weight: normal;
}
@media (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }
}

.heading-1 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #1b1e2b;
  line-height: 60px;
}
@media (min-width: 768px) {
  .heading-1 {
    font-size: 3rem;
  }
}

.heading-2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #1b1e2b;
  line-height: 50px;
}
@media (min-width: 768px) {
  .heading-2 {
    font-size: 2.5rem;
  }
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #1b1e2b;
  line-height: 32px;
}
@media (min-width: 768px) {
  .heading-3 {
    font-size: 2rem;
    line-height: 45px;
  }
}

.small__heading {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #979baa;
}

.wrapper {
  width: 90%;
  max-width: 1120px;
  margin-inline: auto;
}

nav .logo {
  margin-top: 2.625rem;
}

#hero__section {
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  #hero__section {
    height: 800px;
    overflow: hidden;
    padding-bottom: 0;
  }
}
#hero__section h1 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  #hero__section h1 {
    margin-top: 6.9375rem;
    width: 600px;
    margin-inline: auto;
    margin-bottom: 1.25rem;
  }
}
#hero__section .button__wrapper {
  margin-block: 2rem;
  gap: 1rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  #hero__section .button__wrapper {
    flex-direction: row;
    margin-block: 2.5rem;
    gap: 2rem;
  }
}
#hero__section .button__wrapper svg {
  margin-right: 0.25rem;
}
@media (min-width: 768px) {
  #hero__section .button__wrapper svg {
    margin-right: 0.5rem;
  }
}
#hero__section .hero__gradient {
  width: 100vw;
  height: 524px;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgba(210, 223, 238, 0) 0%, #d2deee 100%);
}
#hero__section .hero__gradient--blob1, #hero__section .hero__gradient--blob2 {
  bottom: 0;
  z-index: -1;
  background: #1a73e5;
  filter: blur(80px);
  width: 190px;
  height: 190px;
  opacity: 0.2;
}
@media (min-width: 768px) {
  #hero__section .hero__gradient--blob1, #hero__section .hero__gradient--blob2 {
    opacity: 0.3;
  }
}
#hero__section .hero__gradient--blob1 {
  left: 5%;
}
#hero__section .hero__gradient--blob2 {
  right: 5%;
}
#hero__section .dumbbell {
  width: 40px;
  height: 40px;
  left: 10px;
  top: 250px;
  opacity: 0;
}
@media (min-width: 768px) {
  #hero__section .dumbbell {
    width: 68px;
    height: 68px;
    left: 10px;
    top: 350px;
    opacity: 1;
  }
}
@media (min-width: 992px) {
  #hero__section .dumbbell {
    left: 10px;
    top: 450px;
  }
}
@media (min-width: 1200px) {
  #hero__section .dumbbell {
    left: 140px;
    top: 450px;
  }
}
#hero__section .level-up {
  width: 40px;
  height: 40px;
  left: 40px;
  top: 185px;
  opacity: 0;
}
@media (min-width: 768px) {
  #hero__section .level-up {
    width: 68px;
    height: 68px;
    left: 100px;
    top: 300px;
    opacity: 1;
  }
}
@media (min-width: 992px) {
  #hero__section .level-up {
    left: 100px;
    top: 300px;
  }
}
@media (min-width: 1200px) {
  #hero__section .level-up {
    left: 250px;
    top: 250px;
  }
}
#hero__section .scribble {
  width: 80px;
  height: 80px;
  left: 250px;
  top: 245px;
  opacity: 0;
  z-index: -1;
  display: none;
}
@media (min-width: 576px) {
  #hero__section .scribble {
    width: 100px;
    height: 100px;
    left: 450px;
    top: 180px;
    opacity: 0;
  }
}
@media (min-width: 768px) {
  #hero__section .scribble {
    width: 120px;
    height: 120px;
    left: 580px;
    top: 340px;
    opacity: 1;
  }
}
@media (min-width: 992px) {
  #hero__section .scribble {
    left: 700px;
    top: 310px;
  }
}
@media (min-width: 1200px) {
  #hero__section .scribble {
    left: 810px;
    top: 310px;
  }
}
@media (min-width: 1400px) {
  #hero__section .scribble {
    left: 1050px;
    top: 310px;
  }
}
#hero__section .social-proof {
  width: 126px;
  height: 54px;
  left: 20px;
  top: 350px;
  opacity: 0;
}
@media (min-width: 768px) {
  #hero__section .social-proof {
    width: 168px;
    height: 72px;
    left: 10px;
    top: 630px;
    opacity: 1;
  }
}
@media (min-width: 992px) {
  #hero__section .social-proof {
    left: 30px;
    top: 670px;
  }
}
@media (min-width: 1200px) {
  #hero__section .social-proof {
    left: 80px;
    top: 650px;
  }
}
@media (min-width: 1400px) {
  #hero__section .social-proof {
    left: 180px;
    top: 650px;
  }
}
#hero__section .hero-deco {
  width: 126px;
  height: 54px;
  right: 20px;
  top: 350px;
  opacity: 0;
}
@media (min-width: 768px) {
  #hero__section .hero-deco {
    width: 168px;
    height: 72px;
    right: 10px;
    top: 550px;
    opacity: 1;
  }
}
@media (min-width: 992px) {
  #hero__section .hero-deco {
    right: 30px;
    top: 570px;
  }
}
@media (min-width: 1200px) {
  #hero__section .hero-deco {
    right: 80px;
    top: 550px;
  }
}
@media (min-width: 1400px) {
  #hero__section .hero-deco {
    right: 180px;
    top: 550px;
  }
}

.btn__secondary {
  padding-inline: 1.5rem;
  padding-block: 0.625rem;
  border: 1px solid #1a73e5;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.35s ease-in;
  font-weight: bold;
}
.btn__secondary:hover {
  background-color: #1a73e5;
  color: white;
}

.btn__primary {
  padding-inline: 1.5rem;
  padding-block: 0.625rem;
  background: #1a73e5;
  border: 1px solid #1a73e5;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.35s ease-in;
  color: white;
  font-weight: bold;
}
.btn__primary:hover {
  background: hsl(214deg, 80%, 60%);
}

#social__proof__sm {
  margin-block: 4rem;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  #social__proof__sm {
    margin-block: 5.5rem;
  }
}
#social__proof__sm h2 {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  #social__proof__sm h2 {
    margin-bottom: 2.5rem;
  }
}
#social__proof__sm ul {
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  #social__proof__sm ul {
    flex-direction: row;
    gap: 5rem;
  }
}
#social__proof__sm ul li {
  display: inline;
}

.border {
  border: 1px solid #e1e9f4;
}

#aboutUs {
  margin-block: 4rem;
  width: 90%;
  margin-inline: auto;
}
@media (min-width: 768px) {
  #aboutUs {
    margin-block: 6.5rem;
  }
}
@media (min-width: 768px) {
  #aboutUs h2 {
    width: 600px;
    margin-inline: auto;
  }
}
#aboutUs .subtext {
  padding-block: 2rem 2.5rem;
}
@media (min-width: 768px) {
  #aboutUs .subtext {
    width: 600px;
    margin-inline: auto;
  }
}
#aboutUs ul {
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  #aboutUs ul {
    flex-direction: row;
    gap: 5.5rem;
  }
}
#aboutUs ul li {
  gap: 0.25rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  #aboutUs ul li {
    gap: 0.75rem;
    flex-direction: row;
  }
}
#aboutUs .icon__box {
  background: #ecf2f9;
  border-radius: 16px;
  width: 72px;
  height: 72px;
}

#feat__1 {
  padding-block: 4rem;
}
#feat__1 .feat {
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 992px) {
  #feat__1 .feat {
    flex-direction: row;
  }
}
#feat__1 .feat__left {
  flex: 1;
}
#feat__1 .feat__left h2 {
  padding-block: 1rem 2rem;
}
#feat__1 .feat__right {
  flex: 1;
}
#feat__1 .feat .bubble {
  background: #ecf2f9;
  border-radius: 16px;
  display: inline;
  padding: 1rem 1.5rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1a73e5;
}
#feat__1 .feat .text1 {
  padding-bottom: 1rem;
}
#feat__1 ul {
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 2rem;
}
@media (min-width: 768px) {
  #feat__1 ul {
    flex-direction: row;
    gap: 5.5rem;
  }
}
#feat__1 ul li {
  gap: 0.25rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  #feat__1 ul li {
    gap: 0.75rem;
    flex-direction: row;
  }
}
#feat__1 .icon__box {
  background: #ecf2f9;
  border-radius: 16px;
  width: 72px;
  height: 72px;
}

#feat__2 {
  padding-block: 4rem;
}
#feat__2 .feat {
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 992px) {
  #feat__2 .feat {
    flex-direction: row-reverse;
  }
}
#feat__2 .feat__left {
  flex: 1;
}
#feat__2 .feat__left h2 {
  padding-block: 1rem 2rem;
}
#feat__2 .feat__right {
  flex: 1;
}
#feat__2 .feat .bubble {
  background: #ecf2f9;
  border-radius: 16px;
  display: inline;
  padding: 1rem 1.5rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1a73e5;
}
#feat__2 .feat .text1 {
  padding-bottom: 1rem;
}

#feat__3 {
  padding-block: 4rem;
}
#feat__3 .feat {
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 992px) {
  #feat__3 .feat {
    flex-direction: row;
  }
}
#feat__3 .feat__left {
  flex: 1;
}
#feat__3 .feat__left h2 {
  padding-block: 1rem 2rem;
}
#feat__3 .feat__right {
  flex: 1;
}
#feat__3 .feat .bubble {
  background: #ecf2f9;
  border-radius: 16px;
  display: inline;
  padding: 1rem 1.5rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1a73e5;
}
#feat__3 .feat .text1 {
  padding-bottom: 1rem;
}
#feat__3 ul {
  margin-top: 1.5rem;
  gap: 2rem;
  flex-direction: column;
}
#feat__3 ul li {
  gap: 1rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  #feat__3 ul li {
    gap: 1.5rem;
    flex-direction: row;
  }
}
#feat__3 ul li h3 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5625rem;
}
@media (min-width: 768px) {
  #feat__3 ul li h3 {
    font-size: 1.25rem;
  }
}
#feat__3 ul li p {
  font-size: 1rem;
  line-height: 1.5625rem;
}
@media (min-width: 768px) {
  #feat__3 ul li p {
    width: 400px;
    font-size: 1.25rem;
  }
}
#feat__3 .icon__box {
  background: #ffffff;
  border: 1px solid rgba(26, 115, 229, 0.2);
  box-shadow: 0px 8px 16px rgba(26, 115, 229, 0.25);
  border-radius: 16px;
  width: 72px;
  height: 72px;
}

#preis__section {
  margin-block: 4rem;
}
@media (min-width: 576px) {
  #preis__section {
    margin-block: 6.5rem;
  }
}
#preis__section h2 {
  padding-bottom: 1rem;
}
@media (min-width: 576px) {
  #preis__section h2 {
    padding-bottom: 2rem;
  }
}
#preis__section .card__wrapper {
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  #preis__section .card__wrapper {
    flex-direction: row;
  }
}
#preis__section .price__card {
  padding: 1.5rem;
  background: #ffffff;
  border: 1px solid rgba(26, 115, 229, 0.1);
  box-shadow: 2px 2px 4px rgba(26, 115, 229, 0.15);
  border-radius: 8px;
}
@media (min-width: 768px) {
  #preis__section .price__card {
    width: 50%;
  }
}
#preis__section .price__card img {
  right: 1.5rem;
}
#preis__section .price__card--heading {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #1b1e2b;
}
#preis__section .price__card--preis {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #1b1e2b;
  margin-bottom: 1rem;
}
#preis__section .price__card--preis span {
  font-size: 1rem;
}
#preis__section .price__card--benefits {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
#preis__section .price__card--benefits li {
  gap: 0.5rem;
  margin-top: 1rem;
}

#testimonials__section {
  padding-block: 4rem;
}
@media (min-width: 768px) {
  #testimonials__section {
    padding-block: 6.5rem;
  }
}
#testimonials__section h2 {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  #testimonials__section h2 {
    padding-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  #testimonials__section p.text-center {
    margin-inline: auto;
    width: 450px;
  }
}
#testimonials__section .testi__wrapper {
  flex-wrap: wrap;
  gap: 2rem;
  width: 90%;
  margin-inline: auto;
  margin-top: 3rem;
}
@media (min-width: 992px) {
  #testimonials__section .testi__wrapper {
    gap: 1.5rem;
    width: 100vw;
    flex-wrap: nowrap;
  }
}
#testimonials__section .testi__card {
  padding: 1rem;
  background: #ffffff;
  border: 1px solid rgba(26, 115, 229, 0.25);
  box-shadow: 8px 8px 16px rgba(26, 115, 229, 0.25);
  border-radius: 8px;
}
@media (min-width: 992px) {
  #testimonials__section .testi__card {
    padding: 1.5rem;
    height: 100%;
  }
}
#testimonials__section .testi__card--quote {
  padding-top: 3rem;
}
#testimonials__section .testi__card--quote .quote {
  padding-block: 1rem;
}
#testimonials__section .testi__card--quote .name {
  gap: 0.5rem;
}
@media (min-width: 992px) {
  #testimonials__section .testi__card:nth-child(odd) {
    margin-top: 3rem;
  }
}
#testimonials__section .testimonials__gradient {
  background: linear-gradient(180deg, rgba(210, 223, 238, 0) 0%, #d2deee 100%);
  width: 100%;
  height: 300px;
  z-index: -1;
}
@media (min-width: 992px) {
  #testimonials__section .testimonials__gradient {
    height: 400px;
  }
}

#erfolg__section {
  padding-top: 3rem;
}
#erfolg__section h2 {
  padding-bottom: 2rem;
}
#erfolg__section img {
  padding-top: 2.5rem;
}
@media (min-width: 992px) {
  #erfolg__section img {
    width: 60%;
  }
}
#erfolg__section .story__card {
  width: 90%;
  margin-inline: auto;
  margin-top: 1rem;
}
@media (min-width: 992px) {
  #erfolg__section .story__card {
    padding: 1.5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-50%);
    width: 500px;
    background: #ffffff;
    border: 1px solid rgba(26, 115, 229, 0.25);
    box-shadow: 8px 8px 16px rgba(26, 115, 229, 0.25);
  }
}
@media (min-width: 1200px) {
  #erfolg__section .story__card {
    top: 55%;
    left: 50%;
    transform: translateY(-50%);
    width: 640px;
  }
}
@media (min-width: 1400px) {
  #erfolg__section .story__card {
    left: 55%;
  }
}
#erfolg__section .story__card h3 {
  padding-bottom: 1rem;
}
#erfolg__section .story__card .button__wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#erfolg__section .story__card .button__wrapper a {
  text-decoration: none;
  font-weight: 600;
  color: #1b1e2b;
}

#cta__section {
  padding-block: 5rem;
}
@media (min-width: 768px) {
  #cta__section {
    padding-block: 6.5rem;
  }
}
@media (min-width: 768px) {
  #cta__section h2 {
    width: 900px;
    margin-inline: auto;
  }
}
#cta__section p {
  padding-block: 1.5rem;
}
@media (min-width: 768px) {
  #cta__section p {
    padding-block: 2rem;
    width: 500px;
    margin-inline: auto;
  }
}
#cta__section .button__wrapper {
  gap: 1rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  #cta__section .button__wrapper {
    flex-direction: row;
    gap: 2rem;
  }
}
#cta__section .button__wrapper svg {
  margin-right: 0.25rem;
}
@media (min-width: 768px) {
  #cta__section .button__wrapper svg {
    margin-right: 0.5rem;
  }
}
#cta__section .cta__gradient {
  width: 100vw;
  height: 524px;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgba(210, 223, 238, 0) 0%, #d2deee 100%);
}

footer {
  display: grid;
  padding-top: 5.5rem;
  padding-bottom: 0.5rem;
  grid-template-areas: "logo feat" "erfolg social" "kontakt kontakt";
  gap: 2rem;
}
@media (min-width: 992px) {
  footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }
}
@media (min-width: 992px) {
  footer .logo__wrapper {
    grid-column: 1/3;
  }
}
footer .social__wrapper li {
  gap: 0.5rem;
}
footer h2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #1b1e2b;
  padding-bottom: 0.5rem;
}
footer ul {
  margin: 0;
}
footer ul li {
  margin-bottom: 1rem;
  color: #2e384e;
}
footer ul li a {
  text-decoration: none;
  color: #2e384e;
}
