@use "sass:math";

body {
  font-size: math.div(16rem, 16);
  color: $gray-700;
  line-height: math.div(25rem, 16);
  font-weight: normal;
  @include md {
    font-size: math.div(20rem, 16);
  }
}
.heading-1 {
  font-size: math.div(40rem, 16);
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $gray-900;
  line-height: 60px;
  @include md {
    font-size: math.div(48rem, 16);
  }
}
.heading-2 {
  font-size: math.div(32rem, 16);
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $gray-900;
  line-height: 50px;
  @include md {
    font-size: math.div(40rem, 16);
  }
}
.heading-3 {
  font-size: math.div(24rem, 16);
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $gray-900;
  line-height: 32px;
  @include md {
    font-size: math.div(32rem, 16);
    line-height: 45px;
  }
}
.small__heading {
  font-weight: 700;
  font-size: math.div(12rem, 16);
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #979baa;
}
