@use "sass:math";

body {
  font-size: math.div(16rem, 16);
  color: $gray-700;
  @include md {
    font-size: math.div(20rem, 16);
  }
}
.heading-1 {
  font-size: math.div(40rem, 16);
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $gray-900;
  @include md {
    font-size: math.div(48rem, 16);
  }
}
.small__heading {
  font-weight: 700;
  font-size: math.div(12rem, 16);
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.2em;

  color: #979baa;
}
