$display: flex grid none block inline-block;
$layout-values: flex-start, flex-end, center, space-between, space-around;

@each $val in $display {
  .d-#{$val} {
    display: $val;
  }
}

// justify content classes
@each $val in $layout-values {
  .justify-#{$val} {
    justify-content: $val;
  }
  .align-#{$val} {
    align-items: $val;
  }
}

.rounded {
  border-radius: 90px;
}

.container {
  width: 90%;
  max-width: 794px;
  margin-inline: auto;
}

.mt-3 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 0.875rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  margin-inline: auto;
}

.inline-block {
  display: inline-block;
}
