<section class="wrapper" id="feat__2" aria-label="feat 1 Section">
    <div class="feat | d-flex">
        <div class="feat__left">

            <p class="bubble">
                {{feat2.subtitle}}
            </p>

            <h2 class="heading-2">
                {{feat2.title}}
            </h2>
            <p class="text1">
                {{feat2.text1}}
            </p>
            <p>
                {{feat2.text2}}
            </p>
        </div>
        <div class="feat__right">
            <img src="{{feat2.mainPic}}" alt="">
        </div>
    </div>

</section>